node_modules
.DS_Store
# Env files
.env
.vscode
docker-compose.yaml
/service-account.json
services/base-service/spa/client/public/bundle.js
services/base-service/spa/client/public/js/
services/base-service/spa/client/dist/
/log/
