{
  "openapi": "3.0.3",
  "info": {
    "title": "Express",
    "description": "The Experts API specifies updates to a particular expert. Publically available API endpoints can be used for access to an experts data.  The permissions of current user allow additional access to the data.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": { "email": "aggie-experts@ucdavis.edu" },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [{ "url": "https://experts.ucdavis.edu/api/expert" }],
  "tags": [{ "name": "expert", "description": "Expert Information" }],
  "paths": {
    "/api/expert/{expertId}/{relationshipId}": {
      "get": {
        "description": "Get an expert relationship by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the expert to get"
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the relationship to get"
          }
        ],
        "responses": {
          "200": {
            "description": "The relationship",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Expert" }
              }
            }
          },
          "404": { "description": "Relationship not found" }
        }
      },
      "patch": {
        "description": "Update an expert relationship by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the expert to get"
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the relationship to update"
          }
        ],
        "responses": {
          "204": {
            "description": "The update status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Expert" }
              }
            }
          },
          "404": { "description": "Relationship not found" }
        }
      },
      "delete": {
        "description": "Delete an expert relationship by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the expert to delete"
          },
          {
            "name": "relationshipId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the relationship to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "The delete status",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Expert" }
              }
            }
          },
          "404": { "description": "Relationship not found" }
        }
      }
    },
    "/api/expert/{expertId}": {
      "get": {
        "description": "Get an expert by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the expert to get"
          }
        ],
        "responses": {
          "200": {
            "description": "The expert",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Expert" }
              }
            }
          },
          "404": { "description": "Expert not found" }
        }
      },
      "patch": {
        "description": "Update an experts visibility by expert id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the expert to update"
          }
        ],
        "responses": {
          "204": {
            "description": "The expert",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Expert" }
              }
            }
          },
          "404": { "description": "Expert not found" }
        }
      },
      "delete": {
        "description": "Delete an expert by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "The id of the expert to delete"
          }
        ],
        "responses": {
          "204": {
            "description": "The expert",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Expert" }
              }
            }
          },
          "404": { "description": "Expert not found" }
        }
      }
    }
  }
}
