@prefix :      <#> .
@prefix rdf:   <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix tdb2:  <http://jena.apache.org/2016/tdb#> .
@prefix ja:    <http://jena.hpl.hp.com/2005/11/Assembler#> .
@prefix rdfs:  <http://www.w3.org/2000/01/rdf-schema#> .
@prefix fuseki: <http://jena.apache.org/fuseki#> .
@prefix hdt:     <http://www.rdfhdt.org/fuseki#> .

:expert fuseki:name "qjh" .
:tdb_expert tdb2:location  "${FUSEKI_BASE}/databases/expert" .

:expert a fuseki:Service ;
    fuseki:dataset :dataset_expert ;
    fuseki:endpoint [
        fuseki:operation fuseki:query ;
        fuseki:name "sparql","query"
        ];
    fuseki:endpoint [
        fuseki:operation fuseki:update ;
        fuseki:name "update"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:gsp-rw ;
        fuseki:name "data"
        ] ;
    fuseki:endpoint [
        fuseki:operation fuseki:upload ;
        fuseki:name "upload"
        ] ;
    .

:FoR a hdt:HDTGraph;
    rdfs:label "Fields of Research" ;
    hdt:fileName "/var/lib/fuseki/hdt/FoR.hdt" ;
    .

:positions a hdt:HDTGraph;
    rdfs:label "UC Path positions" ;
    hdt:fileName "/var/lib/fuseki/hdt/positions.hdt" ;
    .

:iam  a hdt:HDTGraph ;
    fuseki:name "iam" ;
    rdfs:label "UC Faculty and staff info" ;
    hdt:fileName "/home/ucd.process/databases/hdt/iam.hdt" ;
    .

:tdb_expert
    a              tdb2:DatasetTDB2 ;
    rdfs:label "Scratch Location" ;
    ja:context [ ja:cxtName "arq:queryTimeout" ;  ja:cxtValue "600000,3600000" ] ;
    .

:mem_expert
    a ja:MemoryModel ;
    .


# We use HDT files for these.  If we want access to the TDB files, I Need to think about the
# best way to do that.  Maybe service would be best.

# Other graphs will go to a emphemeral memory database, (I think)
:dataset_expert
    a ja:RDFDataset ;
    ja:defaultGraph :mem_expert ;
    ja:namedGraph [
        ja:graphName <http://experts.ucdavis.edu/concept/FoR/> ;
        ja:graph :FoR ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://experts.ucdavis.edu/ucop/> ;
        ja:graph :positions ;
        ] ;
    ja:namedGraph [
        ja:graphName <http://iam.ucdavis.edu/> ;
        ja:graph :iam ;
        ] ;
    .
