{
  "openapi": "3.0.3",
  "info": {
    "title": "Express",
    "version": "1.39.0-dev-36-gfbf935e-dirty",
    "description": "The Browse API returns a list of experts.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": { "email": "aggie-experts@ucdavis.edu" },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [{ "url": "https://experts.ucdavis.edu/api/browse" }],
  "tags": [{ "name": "browse", "description": "Browse Expert Information" }],
  "paths": {
    "/api/browse": {
      "get": {
        "description": "Returns counts for experts A - Z, or if sending query param p={letter}, will return results for experts with last names of that letter",
        "parameters": [
          {
            "in": "query",
            "name": "p",
            "description": "The letter the experts last name starts with",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "in": "query",
            "name": "page",
            "description": "The pagination of results to return, defaults to 1",
            "required": false,
            "schema": { "type": "integer" }
          },
          {
            "in": "query",
            "name": "size",
            "description": "The number of results to return per page, defaults to 25",
            "required": false,
            "schema": { "type": "integer" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "total": { "type": "integer" },
                "hits": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "contactInfo": {
                        "type": "object",
                        "properties": {
                          "hasURL": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "@type": {
                                  "type": "array",
                                  "items": { "type": "string" }
                                },
                                "@id": { "type": "string" },
                                "url": { "type": "string" },
                                "name": { "type": "string" },
                                "rank": { "type": "integer" }
                              }
                            }
                          },
                          "hasEmail": { "type": "string" },
                          "hasName": {
                            "type": "object",
                            "properties": {
                              "given": { "type": "string" },
                              "@type": { "type": "string" },
                              "pronouns": { "type": "string" },
                              "@id": { "type": "string" },
                              "family": { "type": "string" }
                            }
                          },
                          "name": { "type": "string" },
                          "hasTitle": {
                            "type": "object",
                            "properties": {
                              "@type": { "type": "string" },
                              "name": { "type": "string" },
                              "@id": { "type": "string" }
                            }
                          },
                          "hasOrganizationalUnit": {
                            "type": "object",
                            "properties": {
                              "name": { "type": "string" },
                              "@id": { "type": "string" }
                            }
                          }
                        }
                      },
                      "name": { "type": "string" },
                      "@id": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
