{
  "openapi": "3.0.3",
  "info": {
    "title": "Experts SiteFarm Integration API",
    "version": "1.39.0-dev-36-gfbf935e-dirty",
    "description": "Allows for the retrieval of expert information to be displayed on the SiteFarm platform.",
    "termsOfService": "https://experts.ucdavis.edu/termsofuse",
    "contact": {
      "email": "experts@ucdavis.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "components": {
    "parameters": {
      "expertId": {
        "name": "expertId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "nano(\\d{8})",
          "description": "The unique identifier for the expert"
        }
      },
      "size": {
        "in": "query",
        "name": "size",
        "description": "The number of results to return per page, defaults to 25",
        "required": false,
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Expert": {
        "type": "object",
        "properties": {
          "@id": {
            "type": "string",
            "description": "The unique identifier for the expert."
          },
          "@type": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The type of the expert."
          },
          "rank": {
            "type": "integer",
            "description": "The rank of the expert."
          },
          "name": {
            "type": "string",
            "description": "The name of the expert."
          },
          "url": {
            "type": "string",
            "format": "url",
            "description": "The URL related to the expert."
          },
          "hasEmail": {
            "type": "string",
            "format": "email",
            "description": "The email address of the expert."
          },
          "hasName": {
            "type": "object",
            "properties": {
              "@id": {
                "type": "string",
                "description": "The unique identifier for the name."
              },
              "@type": {
                "type": "string",
                "description": "The type of the name."
              },
              "family": {
                "type": "string",
                "description": "The family name of the expert."
              },
              "given": {
                "type": "string",
                "description": "The given name of the expert."
              },
              "pronouns": {
                "type": "string",
                "description": "The pronouns of the expert."
              }
            },
            "required": [
              "@id",
              "@type",
              "family",
              "given",
              "pronouns"
            ]
          },
          "hasTitle": {
            "type": "object",
            "properties": {
              "@id": {
                "type": "string",
                "description": "The unique identifier for the title."
              },
              "@type": {
                "type": "string",
                "description": "The type of the title."
              },
              "name": {
                "type": "string",
                "description": "The title of the expert."
              }
            },
            "required": [
              "@id",
              "@type",
              "name"
            ]
          },
          "hasOrganizationalUnit": {
            "type": "object",
            "properties": {
              "@id": {
                "type": "string",
                "description": "The unique identifier for the organizational unit."
              },
              "name": {
                "type": "string",
                "description": "The name of the organizational unit."
              }
            },
            "required": [
              "@id",
              "name"
            ]
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The roles of the expert."
          }
        },
        "required": [
          "@id",
          "@type",
          "rank",
          "name",
          "url",
          "hasEmail",
          "hasName",
          "hasTitle",
          "hasOrganizationalUnit",
          "roles"
        ]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Expert": {
        "description": "The expert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Expert"
            }
          }
        }
      },
      "Expert_not_found": {
        "description": "Expert not found"
      },
      "Expert_deleted": {
        "description": "Expert deleted"
      },
      "No_content": {
        "description": "No Content"
      },
      "Invalid_request": {
        "description": "Invalid request"
      },
      "Successful_operation": {
        "description": "Successful operation"
      },
      "Invalid_ID_supplied": {
        "description": "Invalid ID supplied"
      }
    },
    "requestBodies": {
      "Relationship_patch": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "@id": {
                  "type": "string"
                },
                "visible": {
                  "type": "boolean"
                },
                "grant": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "http://experts.ucdavis.edu/api/sitefarm"
    }
  ],
  "tags": [
    {
      "name": "expert",
      "description": "Expert Information"
    }
  ],
  "paths": {
    "/api/expert/{expertId}": {
      "get": {
        "description": "Get an expert by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Expert"
          },
          "404": {
            "$ref": "#/components/responses/Expert_not_found"
          }
        }
      }
    },
    "/api/sitefarm/experts/{ids}": {
      "get": {
        "description": "Returns a JSON array of expert profiles",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma separated list of expert IDs. Ids are in the format of '{idType}:{Id}'. For example 'expertId:12345'"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Successful_operation"
          },
          "400": {
            "$ref": "#/components/responses/Invalid_ID_supplied"
          },
          "404": {
            "$ref": "#/components/responses/Expert_not_found"
          }
        }
      }
    }
  }
}
