{
  "openapi": "3.0.3",
  "info": {
    "title": "Express",
    "version": "1.39.0-dev-36-gfbf935e-dirty",
    "description": "The SiteFarm API returns an array of expert profiles matching a provided list of IDs. This allows external systems including UCD SiteFarm to integrate Aggie Experts data into their sites. Publically available API endpoints can be used for access to experts data.",
    "termsOfService": "http://swagger.io/terms/",
    "contact": { "email": "aggie-experts@ucdavis.edu" },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [{ "url": "https://experts.ucdavis.edu/api/sitefarm" }],
  "tags": [{ "name": "sitefarm", "description": "SiteFarm Information" }],
  "paths": {
    "/api/sitefarm/experts/{ids}": {
      "get": {
        "description": "Returns an array of expert profiles",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "A comma separated list of expert IDs"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": { "schema": { "type": "string" } }
            }
          },
          "400": { "description": "Invalid ID supplied" },
          "404": { "description": "Expert not found" }
        }
      }
    }
  }
}
