{
  "openapi": "3.0.3",
  "info": {
    "title": "Experts SiteFarm Integration API",
    "version": "1.0.2 (Preview)",
    "description": "Allows for the retrieval of expert information to be displayed on the SiteFarm platform.\n\n**What's New in 1.0.2 (Preview):**\n- Support for multiple emails for experts.",
    "termsOfService": "https://experts.ucdavis.edu/termsofuse",
    "contact": {
      "email": "experts@ucdavis.edu"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "components": {
    "parameters": {
      "expertId": {
        "name": "expertId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "nano(\\d{8})",
          "description": "The unique identifier for the expert"
        }
      },
      "size": {
        "in": "query",
        "name": "size",
        "description": "The number of results to return per page, defaults to 25",
        "required": false,
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Expert": {
        "type": "object",
        "properties": {
          "@id": { "type": "string" },
          "contactInfo": { "$ref": "#/components/schemas/ContactInfo" },
          "orcidId": { "type": "string" },
          "scopusId": {
            "type": "array",
            "items": { "type": "string" }
          },
          "modified-date": { "type": "string", "format": "date-time" },
          "publications": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Publication" }
          }
        }
      },
      "ContactInfo": {
        "type": "object",
        "properties": {
          "hasURL": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/URL" }
          },
          "hasEmail": {
            "type": "array",
            "items": { "type": "string", "format": "email" }
          },
          "hasName": { "$ref": "#/components/schemas/Name" },
          "name": { "type": "string" },
          "hasTitle": { "$ref": "#/components/schemas/Title" },
          "hasOrganizationalUnit": { "$ref": "#/components/schemas/OrganizationalUnit" }
        }
      },
      "URL": {
        "type": "object",
        "properties": {
          "@type": {
            "type": "array",
            "items": { "type": "string" }
          },
          "rank": { "type": "integer" },
          "@id": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "Name": {
        "type": "object",
        "properties": {
          "given": { "type": "string" },
          "middle": { "type": "string" },
          "@type": { "type": "string" },
          "@id": { "type": "string" },
          "family": { "type": "string" }
        }
      },
      "Title": {
        "type": "object",
        "properties": {
          "@type": { "type": "string" },
          "name": { "type": "string" },
          "@id": { "type": "string" }
        }
      },
      "OrganizationalUnit": {
        "type": "object",
        "properties": {
          "@type": { "type": "string" },
          "name": { "type": "string" },
          "@id": { "type": "string" }
        }
      },
      "Publication": {
        "type": "object",
        "properties": {
          "issue": { "type": "string" },
          "@type": {
            "type": "array",
            "items": { "type": "string" }
          },
          "author": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Author" }
          },
          "ISSN": { "type": "string" },
          "eissn": { "type": "string" },
          "language": { "type": "string" },
          "medium": { "type": "string" },
          "relatedBy": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/RelatedBy" }
          },
          "title": { "type": "string" },
          "type": { "type": "string" },
          "cite:date-available": { "type": "string" },
          "volume": { "type": "string" },
          "license": { "type": "string" },
          "container-title": { "type": "string" },
          "hasPublicationVenue": { "$ref": "#/components/schemas/PublicationVenue" },
          "publisher": { "type": "string" },
          "@id": { "type": "string" },
          "page": { "type": "string" },
          "issued": { "type": "string" },
          "DOI": { "type": "string" },
          "status": { "type": "string" },
          "abstract": { "type": "string" },
          "collection-number": { "type": "string" },
          "url": { "type": "string", "format": "uri" }
        }
      },
      "Author": {
        "type": "object",
        "properties": {
          "given": { "type": "string" },
          "rank": { "type": "integer" },
          "@id": { "type": "string" },
          "family": { "type": "string" }
        }
      },
      "RelatedBy": {
        "type": "object",
        "properties": {
          "relates": {
            "type": "array",
            "items": { "type": "string" }
          },
          "@type": {
            "type": "array",
            "items": { "type": "string" }
          },
          "rank": { "type": "integer" },
          "@id": { "type": "string" },
          "is-visible": { "type": "boolean" }
        }
      },
      "PublicationVenue": {
        "type": "object",
        "properties": {
          "issn": { "type": "string" },
          "name": { "type": "string" },
          "@id": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "responses": {
      "Expert": {
        "description": "The expert",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Expert"
            }
          }
        }
      },
      "Expert_not_found": {
        "description": "Expert not found"
      },
      "Expert_deleted": {
        "description": "Expert deleted"
      },
      "No_content": {
        "description": "No Content"
      },
      "Invalid_request": {
        "description": "Invalid request"
      },
      "Successful_operation": {
        "description": "Successful operation"
      },
      "Invalid_ID_supplied": {
        "description": "Invalid ID supplied"
      }
    },
    "requestBodies": {
      "Relationship_patch": {
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "@id": {
                  "type": "string"
                },
                "visible": {
                  "type": "boolean"
                },
                "grant": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "http://experts.ucdavis.edu/api/sitefarm"
    }
  ],
  "tags": [
    {
      "name": "expert",
      "description": "Expert Information"
    }
  ],
  "paths": {
    "/api/expert/{expertId}": {
      "get": {
        "description": "Get an expert by id",
        "parameters": [
          {
            "name": "expertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Expert"
          },
          "404": {
            "$ref": "#/components/responses/Expert_not_found"
          }
        }
      }
    },
    "/api/sitefarm/experts/{ids}": {
      "get": {
        "description": "Returns a JSON array of expert profiles",
        "parameters": [
          {
            "name": "ids",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "A comma separated list of expert IDs. Ids are in the format of '{idType}:{Id}'. For example 'expertId:12345'"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Successful_operation"
          },
          "400": {
            "$ref": "#/components/responses/Invalid_ID_supplied"
          },
          "404": {
            "$ref": "#/components/responses/Expert_not_found"
          }
        }
      }
    }
  }
}
